{% extends "network/layout.html" %} 
{% load static %} 


{% block body %}
	<div class="new-post-container mb-3 border rounded">
		{% if user.is_authenticated %}
			<form action="{% url 'index' %}" method="post">
				{% csrf_token %}
				<label for="new-post-content" class="form-label">New Post</label>
				<textarea name="new-post-content" id="new-post-content" class="form-control" row="3"></textarea>

				{% if message %}
					<div class="alert alert-danger">{{ message }}</div>
				{% endif %}
				
				<button type="submit" class="new-post-submit-btn btn btn-sm btn-primary mb-3">Post</button>
			</form>
		{% else %}
			<p class="alert alert-success">Please login to create new posts</p>
		{% endif %}
	</div>

	<div class="posts-container mb-3 border rounded">
		{% include "network/one-post.html" %}
	</div>

	{% include "network/pagination.html" %}

{% endblock %}

{% block script %}
	<script src="{% static 'network/post.js' %}"></script>
{% endblock %}
